[submodule "libcurl"]
  path = libcurl
  url = https://github.91chi.fun/https://github.com/curl/curl
[submodule "libjansson"]
  path = libjansson
  url = https://github.91chi.fun/https://github.com/akheron/jansson
